.grid-row {
  background-color: rgb(26,98,174);
  color: white;
  border-bottom: 3px solid black;
}

.form-control.grid-row-input {
  background-color: transparent;
  border: none; 
  box-shadow: none;  
  color: white;
  font-size: 20px;   
}

.form-control.grid-row-input:focus {
  background-color: transparent;
  border: none; 
  box-shadow: none; 
  color: white;
  font-size: 20px;  
}

/* removes arrow spinner in number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cell {
  border-right: 3px solid black;
}

.cell:first-child {
  border-left: 3px solid black;
}