.title {
  color: var(--titleText);
}

.options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.form-check-input {
  appearance: checkbox;
  -webkit-appearance: checkbox;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  accent-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: 0.2rem;
  margin-right: 0.3rem;
}

.class-selector {
  width: 10vw;
  margin-right: 0.3rem;
}

.form-check-input:checked {
  background-color: var(--btn-bg-active);
}

.form-check-label {
  margin-left: 0.4rem;
  color: var(--buttonText);
  font-size: 1rem;
  user-select: none;
}

.hamburger {
  background: var(--main);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--mainText);
  margin-left: 0.3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  position: absolute;
  top: 3vw;
  left: 0.3rem;
  background-color: var(--header);
  border: 1px solid var(--border);
  border-radius: 0.5vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5vw;
  z-index: 10;
}

.menu-btn {
  background-color: var(--button);
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: var(--font-size-small);
  cursor: pointer;
}

.menu-btn:hover {
  background-color: var(--buttonHover);
  color: var(--buttonText);
  border-color: var(--border);
}

.menu-btn:active {
  background-color: var(--buttonActive);
  color: var(--buttonText);
  border-color: var(--border);
}

.character-modal {
  position: fixed;
  z-index: 1000;
  top: 36%;
  left: 80%;
  width: 25%;
  padding: 10px;
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border);
  font-size: var(--font-size-medium);
}

.modal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.modal-right {
  flex: 1;
  border-left: 1px solid var(--border);
  padding-left: 20px;
  overflow-y: auto;
  text-align: right;
  flex-direction: column;
  align-items: right;
}

.modal-input {
  border: 3px solid var(--border);
  background-color: var(--button);
  color: var(--mainText);
  align-items: center;
  font-size: var(--font-size);
  width: 80%;
}

.modal-input:focus {
  background-color: var(--buttonHover);
  border: 3px solid var(--border);
  box-shadow: none;
  font-size: var(--font-size);
}

.modal-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.modal-btn {
  background-color: var(--button);
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

.character-entry {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 6px 0;
}

.delete-character {
  width: 24px;
  height: 24px;

  border: none;

  cursor: pointer;
}
