.title {
  color: var(--titleText);
}

.options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.form-check-input {
  appearance: checkbox;
  -webkit-appearance: checkbox;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  accent-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: 0.2rem;
  margin-right: 0.3rem;
}

.form-check-input:checked {
  background-color: var(--btn-bg-active);
}

.form-check-label {
  margin-left: 0.4rem;
  color: var(--buttonText);
  font-size: 1rem;
  user-select: none;
}

.hamburger {
  background: var(--main);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--mainText);
  margin-left: 0.3rem;
  width: 3rem;
  height: 3rem;
  display: flex;      /* make it a flex container */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}

.hamburger-menu {
  position: absolute;
  top: 3vw; /* adjust for your header height */
  left: 0.3rem;
  background-color: var(--header);
  border: 1px solid var(--border);
  border-radius: 0.5vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5vw;
  z-index: 10;
}
