.button-margin {
  margin-right: 1vw;
}

.sound-button {
  background-color: var(--button);
  color: var(--buttonText);
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.empty {
  background-color: var(--main) !important;
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-color: var(--border);
  border-radius: 0.5rem;
  min-width: 100%;
}
