.button-margin {
  margin-right: 1rem;
}

.sound-button {
  background-color: var(--button);
  color: var(--buttonText);
  border-color: var(--border);
  font-size: small !important;
  min-width: 4vw;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.soundboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 4px;
  margin: 4px 1rem 4px 1rem;
}

.sound-name {
  display: inline-block;
  max-width: 4vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.volume-icon {
  font-size: 1.5rem;
  color: var(--buttonText);
  margin: 0 1rem;
}

.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 1rem;
  margin: auto;
}

.volume-slider {
  writing-mode: bt-lr;
  appearance: slider-vertical;
  width: 1.4rem;
  height: 7vh;
}

.volume-slider::-webkit-slider-runnable-track {
  background: var(--mainLight);   /* theme track color */
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  height: 100%;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  background-color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 0.7rem;
  height: 1rem;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb:hover {
  background: var(--buttonHover);
}

.volume-slider::-webkit-slider-thumb:active {
  background: var(--buttonActive);
}
