/* div {
  border: 2px solid green;
} */

.App {
  text-align: center;
  overflow: hidden;
}

.image-container {
  margin-top: 5vh;
}

.uploaded-image {
  max-height: 50vh;
}

.turn-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.turn-container.form-control {
  max-width: 10%;
  text-align: center;
}

.form-control.turn-counter {
  color: var(--mainText);
  border-color: var(--border);
  background-color: var(--tableHeader);
  text-align: center;
  font-size: 20px;
}

.form-control.turn-counter:focus {
  background-color: var(--tableHeader);
  color: var(--mainText);
}

.form-control.create-row-field {
  color: var(--mainText);
  border-color: var(--border);
  background-color: var(--tableHeader);
  text-align: center;
  font-size: 20px;
}

.form-control.create-row-field:focus {
  background-color: var(--tableHeader);
  color: var(--mainText);
}

.next-button {
  color: var(--buttonText);
  font-size: 20px;
}

.option {
  margin-left: -3%;
  background-color: var(--main);
  border: 1px solid var(--border);
}

.form-control.select {
  background-color: var(--main);
  border-color: var(--border);
  box-shadow: none;
  color: var(--mainText);
  font-size: 20px;
}
.form-control.select:focus {
  background-color: var(--main);
  border-color: var(--border);
  box-shadow: none;
  color: var(--mainText);
  font-size: 20px;
}

.margin-left-10px {
  margin-left: 10px;
}

.row.topRow {
  background-color: var(--tableHeader);
}

.App-header {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--mainText);
}

.App-footer {
  background-color: var(--header);
  min-height: 5vh;
  display: block;
}

.footer-text {
  position: relative;
  float: right;
  color: var(--mainText);
  margin-right: 5vw;
  margin-top: 1vh;
}

input[type="file"]::file-selector-button {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--buttonText);
  background-color: var(--button);
}

input[type="file"]::file-selector-button:hover {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--buttonText);
  background-color: var(--buttonActive);
}

.upload-container {
  height: 5vh;
  cursor: pointer;
  color: var(--mainText);
  position: relative;
  float: left;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 43%;
  color: var(--titleText);
  text-align: center;
}

.class-selector {
  width: 10%;
  margin-right: 20px;
}

.App-body {
  background-color: var(--main);
  min-height: 85vh;
  color: var(--mainText);
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  text-align: left;
  padding-top: 2%;
}

.App-link {
  color: var(--link);
}

.input-container {
  margin-bottom: 20px;
}

.topRow {
  margin: 0;
  border-top: 3px solid var(--border);
  border-bottom: 3px solid var(--border);
}

.row.GridRow.cell {
  border: 3px solid var(--border);
}

.form-control.turn-counter {
  width: 30%;
}

.btn.btn-secondary.bot {
  background-color: var(--button);
  color: var(--buttonText);
  border-color: var(--border);
  min-width: 100%;
}

.btn.btn-secondary.bot:hover {
  background-color: var(--buttonHover);
  color: var(--buttonText);
  border-color: var(--border);
  min-width: 100%;
}

.btn.btn-secondary.bot:active {
  background-color: var(--buttonActive);
  color: var(--buttonText);
  border-color: var(--border);
  min-width: 100%;
}

.btn.btn-secondary.blue {
  background-color: var(--button);
  color: var(--buttonText);
  border-color: var(--border);
}

.btn.btn-secondary.blue:hover {
  background-color: var(--buttonHover);
  color: var(--buttonText);
  border-color: var(--border);
}

.btn.btn-secondary.blue:active {
  background-color: var(--buttonActive);
  color: var(--buttonText);
  border-color: var(--border);
}
