/* div {
  border: 2px solid green;
} */

:root {
  --tableHeader: #144a84;
  --button: #009adc;
  --buttonHover: #0097d8;
  --buttonActive: #0287c0;
  --highlightedRow: #2e91fa;
  --row: #1a62ae;
  --main: #373c46;
  --mainLight: #bec8df;
  --header: #282c34;
  --titleText: #ffffff;
  --mainText: white;
  --buttonText: white;
  --border: black;
  --delete: #000000;
  --legendary: #ffc31f;
}

.App.green {
  --tableHeader: #18392b;
  --button: #14452f;
  --buttonHover: #0f5132;
  --buttonActive: #105a37;
  --highlightedRow: #0a5c36;
  --row: #14452f;
  --main: #0d633b;
  --mainLight: #19a564;
  --header: #084629;
  --titleText: #8b500b;
  --mainText: rgb(77, 243, 104);
  --buttonText: #8b500b;
  --border: #632e0b;
  --delete: #000000;
}

.App.prisma {
  --tableHeader: #6f54a1;
  --button: #6f54a1;
  --buttonHover: #6884c0;
  --buttonActive: #7089c1;
  --highlightedRow: #c7eedb;
  --row: #88d0c4;
  --main: #ccbff7;
  --header: #790f6b;
  --titleText: #35032f;
  --mainText: black;
  --buttonText: black;
  --border: #790f6b;
  --delete: #000000;
}

.App.dark {
  --tableHeader: #0a0e19;
  --button: #0a0e19;
  --buttonHover: #212538;
  --buttonActive: #43485b;
  --highlightedRow: #24313d;
  --row: #141d26;
  --main: #03080e;
  --header: black;
  --titleText: #9396a7;
  --mainText: #9396a7;
  --buttonText: #9396a7;
  --border: #060d15;
  --delete: #000000;
}

.App.berry {
  --tableHeader: #2f0101;
  --button: #c5001e;
  --buttonHover: #db0424;
  --buttonActive: #ee0528;
  --highlightedRow: #8f0a0c;
  --row: #780002;
  --main: #6b052a;
  --header: #190f18;
  --titleText: #c5001e;
  --mainText: #ff8e8e;
  --buttonText: #ff8e8e;
  --border: #200201;
  --delete: #000000;
}

:root {
  --font-size-tiny: 0.6vw;
  --font-size: 1.2vw;
  --font-size-large: 1.4vw;
  background-color: var(--main);
}

.App {
  text-align: center;
}

.dicefield {
  background: var(--mainLight) !important;
  border: 1px solid var(--border) !important;
}

.image-container {
  margin-top: 5vh;
  position: relative;
  display: inline-block;
}

.image-container:hover .img-buttons {
  display: block;
}

.stationary-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  display: inline-block;
}

.stationary-container:hover .img-buttons {
  display: block;
}

.img-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.uploaded-image {
  max-height: 50vh;
}

.delete-img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: var(--button);
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
}
.delete-img-button:hover {
  background-color: var(--buttonHover);
}
.delete-img-button:active {
  background-color: var(--buttonActive);
}

.hidden {
  display: none;
}

.upload-img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: var(--button);
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
}
.upload-img-button:hover {
  background-color: var(--buttonHover);
}
.upload-img-button:active {
  background-color: var(--buttonActive);
}

.button-img {
  max-width: 1vw;
  filter: invert(99%) sepia(3%) saturate(405%) hue-rotate(303deg)
    brightness(122%) contrast(100%);
}

.turn-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.turn-container.form-control {
  max-width: 10%;
  text-align: center;
}

.form-control.turn-counter {
  color: var(--mainText);
  border-color: var(--border);
  background-color: var(--tableHeader);
  text-align: center;
  font-size: var(--font-size);
  width: 30%;
}

.form-control.turn-counter:focus {
  background-color: var(--tableHeader);
  color: var(--mainText);
}

.form-control.create-row-field {
  color: var(--mainText);
  border-color: var(--border);
  background-color: var(--tableHeader);
  text-align: center;
  font-size: var(--font-size);
}

.form-control.create-row-field:focus {
  background-color: var(--tableHeader);
  color: var(--mainText);
}

.next-button {
  color: var(--buttonText);
  font-size: var(--font-size);
}

.option {
  margin-left: -3%;
  background-color: var(--main);
  border: 1px solid var(--border);
}

.form-control.select {
  background-color: var(--main);
  border-color: var(--border);
  box-shadow: none;
  color: var(--mainText);
  font-size: var(--font-size);
}
.form-control.select:focus {
  background-color: var(--main);
  border-color: var(--border);
  box-shadow: none;
  color: var(--mainText);
  font-size: var(--font-size);
}

.margin-left-10px {
  margin-left: 10px;
}

.row.top-row {
  background-color: var(--tableHeader);
}

.App-header {
  background-color: var(--header);
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-height: 7vh;
  font-size: calc(10px + 2vmin);
  color: var(--mainText);
  z-index: 10;
}

.App-footer {
  background-color: var(--header);
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

input[type="file"]::file-selector-button {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--buttonText);
  background-color: var(--button);
}

input[type="file"]::file-selector-button:hover {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--buttonText);
  background-color: var(--buttonActive);
}

.upload-container {
  height: 5vh;
  cursor: pointer;
  color: var(--mainText);
  position: relative;
  float: left;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  width: 20vw;
}

.upload-container-right {
  height: 5vh;
  cursor: pointer;
  color: var(--mainText);
  position: relative;
  float: right;
  margin-right: 5vw;
  display: flex;
  align-items: center;
}

.class-selector {
  width: 10%;
  margin-right: 20px;
}

.App-body {
  background-color: var(--main);
  color: var(--mainText);
  padding: 2rem 3rem 10rem 3rem;
  font-size: var(--font-size-large);
  text-align: left;
  overflow-y: hidden;
  min-height: 93vh;
  padding-top: 8vh;
}

.App-link {
  color: var(--link);
}

.combat-grid {
  display: grid;
  grid-auto-rows: minmax(2rem, auto); /* row height */
  width: 100%;
}

.grid-header {
  display: grid;
  background: var(--tableHeader);
}

.cell {
  padding: 3px 0.8rem 0 0.8rem;
  align-items: center;
}

.top-row {
  border-top: 3px solid var(--border);
  border-bottom: 3px solid var(--border);
}

.btn.btn.btn-secondary {
  font-size: var(--font-size);
}

.btn.btn-secondary.bot.image {
  min-width: 10%;
}

.btn.btn-secondary.bot {
  background-color: var(--button);
  color: var(--buttonText);
  border-color: var(--border);
  min-width: 100%;
}

.btn.btn-secondary.bot:hover {
  background-color: var(--buttonHover);
  color: var(--buttonText);
  border-color: var(--border);
}

.btn.btn-secondary.bot:active {
  background-color: var(--buttonActive);
  color: var(--buttonText);
  border-color: var(--border);
}

/* Legendary actions/resistances */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainText);
  border-color: var(--border);
  background-color: var(--tableHeader);
  text-align: center;
  font-size: var(--font-size);
  border: 1px solid black;
  border-radius: 0.5rem;
}

.legendary-container {
  font-size: var(--font-size-tiny);
  display: flex;
  align-items: center;
  margin-right: 1rem;
  flex-direction: column;
}

.legendary-container span {
  margin-bottom: 0.3vw; /* space between label and checkboxes */
}

.checkboxes {
  display: flex;
  gap: 0.5vw; /* space between checkboxes */
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 1vw;
  height: 1vw;
  background-color: var(--mainText); /* unchecked color */
  border-radius: 0.3vw;
  display: inline-block;
  position: relative;
  transition: background-color 0.2s;
  cursor: pointer;
}

/* When checked, change color */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--button);
}

.custom-checkbox .checkmark::after,
.custom-checkbox .checkmark::before {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 0.1vw;
  height: 0.7vw;
  background-color: var(--mainText);
  transform-origin: center;
  transform-style: preserve-3d;
  display: none;
}

.custom-checkbox .checkmark::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.custom-checkbox .checkmark::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Show the X when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::before,
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.diceroller-container {
  width: 100%;
  height: 100%;
  border: 3px solid var(--border);
  background: var(--row);
  padding: 1rem;
  flex-direction: column;
}

.diceroller-input {
  display: inline-block;
  flex: 15;
  margin-right: 0.5rem;
}

.diceroller-output {
  flex: 1;
  margin-left: 0.5rem;
  text-align: center;
}

.diceroller-controls {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.diceroller-button {
  background-color: var(--tableHeader) !important;
  border-color: var(--border) !important;
}

.diceroller-panel {
  position: fixed;
  top: 15%;
  right: -40%; /* start hidden off-screen */
  width: 38%;
  height: 76%;
  background-color: var(--main); /* use your theme color */
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.4s ease-in-out;
  z-index: 999; /* stays above other content */
  padding: 1rem;
  border: 3px solid var(--border);
  border-radius: 0.5rem;
}

.diceroller-panel.open {
  right: 0; /* slide into view */
}

.toggle-diceroller {
  position: fixed;
  top: 10%;
  right: 0%;
  z-index: 1;
  background-color: var(--tableHeader) !important;
  border: 1px solid var(--border) !important;
}

.toggle-diceroller:hover {
  background-color: var(--row) !important;
}

.toggle-diceroller:active {
  background-color: var(--buttonHover) !important;
}

#dice-box {
  position: relative;
  margin: auto;
  width: 93%;
  height: 93%;
}

#dice-box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
